body {
  margin: 0;
  font-family:  'Roboto', -apple­-sy­stem, BlinkM­acS­yst­emFont,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* html *{
  overflow-y: auto; 
  overflow-x: hidden; 
} */

body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}